@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'rubik', sans-serif;

  background-image: linear-gradient(to bottom, #af67ea, #6563e8);
  background-repeat: no-repeat;
}

.accordion-body {
  display: flex;
  align-items: center;

  width: 800px;
  margin: 90px auto;

  background-color: white;
  padding: 45px 45px;
}

.imageAcc {
  margin-right: 12px;
}

.girl {
  width: 380px;
  height: 350px;

  margin-left: -80px;

  object-fit: contain;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;

  font-size: 18px;

  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  position: absolute;

  top: 50%;
  right: -5px;

  font-size: 18px;

  transform: translateY(-50%);
}

.accordion .label:hover {
  color: orange;
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 12px;
  text-align: justify;

  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
}

.accordion .container.active .content {
  height: max-content;
}

.accordion .container.active .label {
  font-weight: bold;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

/* Mobile */
@media (min-width: 600px) and (max-width: 768px) {
  .accordion-body {
    flex-direction: column;

    width: 600px;
  }
}
